<div class="blog-entry">
  <div class="card">
    <img alt="Card image" class="card-img-top" src="../../../../assets/images/{{img}}.jpg" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <h5 class="card-text"><b>Technology: </b>{{technology}}</h5>
      <div style="text-align: center">
        <a class="btn btn-primary stretched-link" href="https://github.com/VivekBhat/expertiza" target="_blank">GithubLink</a>
      </div>
    </div>
  </div>
</div>
