<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Open Source Projects</div>

    <div class="row">


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="../../../assets/images/expertiza_1.jpg" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Expertiza Docker Image</h4>
              <h5 class="card-text"><b>Technology :</b> Docker, Bash scripts, GitHub</h5>
              <!--<h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>-->

              <!--<a (click)="onClickSee()" style="color: white" class="btn btn-primary stretched-link ml-2 mr-5">See-->
              <!--Project</a>-->
              <div style="text-align: center">
                <a class="btn btn-primary stretched-link" href="https://github.com/VivekBhat/expertiza" target="_blank">GithubLink</a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="../../../assets/images/expertiza_2.jpg" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Expertiza Log Visualization</h4>
              <h5 class="card-text"><b>Technology :</b> Django,Python,Bootstrap3 </h5>
              <div style="text-align: center">
                <a class="btn btn-primary stretched-link" href="https://github.com/VivekBhat/expertiza" target="_blank">GithubLink</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="../../../assets/images/expertiza_3.jpg" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Expertiza Wiki Page</h4>
              <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,PHP </h5>
              <div style="text-align: center">
                <a class="btn btn-primary stretched-link" href="https://github.com/VivekBhat/expertiza" target="_blank">GithubLink</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="h4 text-center mb-4 title">Other Projects</div>
    <div class="row">
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="assets/images/p3.png" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Movie Success Prediction(Hackathon)</h4>
              <h5 class="card-text"><b>Technology :</b> Django,Python,ML,DataScience </h5>
              <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1">
                Read Blog on this Project</a></h5>
              <a class="btn btn-primary stretched-link ml-2 mr-5"
                 href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1">See Project</a>
              <a class="btn btn-primary stretched-link"
                 href="https://github.com/mehulk05?tab=repositories">GithubLink</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="assets/images/p5.png" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Smart Baby Stroller(Final Year)</h4>
              <h5 class="card-text"><b>Technology :</b> Python,Android,Firebase </h5>
              <h5 class="card-text"><a
                href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"> Read Blog on this
                Project</a></h5>
              <a class="btn btn-primary stretched-link ml-2 mr-5"
                 href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a">See Project</a>
              <a class="btn btn-primary stretched-link"
                 href="https://github.com/mehulk05/Smart-Baby-Stroller-System.git">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="assets/images/p6.png" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Simple Chat Application Using Firebase</h4>
              <h5 class="card-text"><b>Technology :</b> Android,Java,Firebase </h5>
              <h5 class="card-text"><a
                href="https://code.tutsplus.com/tutorials/how-to-create-an-android-chat-app-using-firebase--cms-27397">
                Read Blog on this Project</a></h5>
              <a class="btn btn-primary stretched-link ml-2 mr-5" href="https://github.com/mehulk05?tab=repositories">See
                Project</a>
              <a class="btn btn-primary stretched-link"
                 href="https://github.com/mehulk05?tab=repositories">GithubLink</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="assets/images/p8.png" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Know Your Disease</h4>
              <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,PHP </h5>
              <a class="btn btn-primary stretched-link ml-2 mr-5" href="https://github.com/mehulk05/Know-Your-Disease">See
                Project</a>
              <a class="btn btn-primary stretched-link"
                 href="https://github.com/mehulk05/Know-Your-Disease">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img alt="Card image" class="card-img-top" src="assets/images/p9.png" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Pizza Ordering System</h4>
              <h5 class="card-text"><b>Technology :</b> Java,Servlet,JSP,JDBC </h5>
              <a class="btn btn-primary stretched-link ml-2 mr-5"
                 href="https://github.com/mehulk05/Pizza-Ordering-System">See Project</a>
              <a class="btn btn-primary stretched-link" href="https://github.com/mehulk05/Pizza-Ordering-System">GithubLink</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
